extends general

block content
    div.blog-inner-recent
        .container.pt-50.pb-50.mt-20.mb-20
            .row
                .col-md-7.col-lg-8.article-left
                    each post in posts.orderBy('date', 'desc').slice(0,100)
                        article.post-article
                            .article-banner
                                a(href=post.permalink)
                                    img(src= post.banner)
                            .article-title
                                h3
                                    a(href=post.permalink)= post.title
                            .article-publish
                                ul
                                    li By
                                        span.author-name= post.writer
                                    li Posted
                                        span= dateFormat(post.date, 'LL')
                            .article-body
                               p= post.shortdesc
                            .article-more
                                a.btn.btn-primary.btn-lg.eq-ui-waves-light(href=post.permalink) Read More
                    .load-more-wrapper.text-center.mt-40        
                        a#loadMore.btn.btn-primary.btn-lg.eq-ui-waves-light Load More Post
                        a#showLess.ml-15.btn.btn-primary.btn-lg.eq-ui-waves-light Show Less
                .col-md-5.col-lg-4.hidden-sm.hidden-xs.article-right
                    .side-bar-right
                        .side-bar-header
                            h3 Recent Post
                        each post in posts.orderBy('date', 'desc').slice(0,10)
                            article.post-article-widget
                                .post-article-widget-img
                                    .article-banner
                                        a(href=post.permalink)
                                            img(src= post.banner)
                                .post-article-widget-title
                                    .article-title
                                        h5
                                            a(href=post.permalink)= post.title
                                    .article-publish
                                        ul
                                            li Posted
                                                span.date-format= dateFormat(post.date, 'LL')